language: php
php:
  - '7.1'

install:
  - wget -O sami.phar http://get.sensiolabs.org/sami.phar
  - wget -O /tmp/hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.30.2/hugo_0.30.2_Linux-64bit.deb
  - sudo dpkg -i /tmp/hugo.deb

script:
  - pushd docs
  - hugo
  - popd
  - php sami.phar update config/sami.php
  - touch docs/.nojekyll

branches:
  only:
    - master

deploy:
  provider: pages
  local_dir: docs/public
  skip_cleanup: true
  email: chingor@google.com # To satisfy the CLA check, replace this with bot email.
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
