unit-config: &unit-config
  environment:
    TEST_PHP_ARGS: -q
    REPORT_EXIT_STATUS: 1
    RUN_EXTENSION_TESTS: 1
    SUDO_CMD: "sudo"
  steps:
    - checkout

    - run:
        name: Install build tools
        command: |
          autoconf -V || \
            (
              $SUDO_CMD apt-get update -y && \
              $SUDO_CMD apt-get install -y -q --no-install-recommends \
                build-essential \
                g++ \
                gcc \
                libc-dev \
                make \
                autoconf \
                git \
                unzip
            )

    - run:
        name: Extension unit tests
        command: |
          if [ $RUN_EXTENSION_TESTS -eq "1" ]; then
            pushd ext
            phpize
            ./configure --enable-opencensus
            make test || ((find . -name '*.diff' | xargs cat) && false)
            $SUDO_CMD make install
            popd
          else
            echo "Skipping extension tests"
          fi

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "composer.json" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run:
        name: Install composer packages
        command: composer install -n --prefer-dist

    - save_cache:
        paths:
          - ./vendor
        key: v1-dependencies-{{ checksum "composer.json" }}

    - run:
        name: Enable E_ALL error reporting for strict testing
        command: $SUDO_CMD cp config/php.ini /usr/local/etc/php

    - run:
        name: PHP Code Style
        command: vendor/bin/phpcs --standard=./phpcs-ruleset.xml

    - run:
        name: PHP unit tests
        command: XDEBUG_MODE=coverage vendor/bin/phpunit

    - run:
        name: PHP unit tests with extension
        command: |
          if [ $RUN_EXTENSION_TESTS -eq "1" ]; then
            XDEBUG_MODE=coverage php -d extension=opencensus.so vendor/bin/phpunit
          else
            echo "Skipping units tests with extension"
          fi

version: 2
jobs:
  php71:
    <<: *unit-config
    docker:
      - image: circleci/php:7.1-node

  php71-zts:
    <<: *unit-config
    docker:
      - image: circleci/php:7.1-zts-node

  php72:
    <<: *unit-config
    docker:
      - image: circleci/php:7.2-node

  php72-zts:
    <<: *unit-config
    docker:
      - image: circleci/php:7.2-zts-node

  php73:
    <<: *unit-config
    docker:
      - image: circleci/php:7.3-node

  php73-zts:
    <<: *unit-config
    docker:
      - image: circleci/php:7.3-zts-node

  php74:
    <<: *unit-config
    docker:
      - image: circleci/php:7.4-node

  php74-zts:
    <<: *unit-config
    docker:
      - image: circleci/php:7.4-zts-node

  php80:
    <<: *unit-config
    docker:
      - image: circleci/php:8.0-node

  php80-zts:
    <<: *unit-config
    docker:
      - image: circleci/php:8.0-zts-node

  # Integration tests running on PHP 7.4. When updating these, please also update `integration-8.0` further down.
  integration-7.4:
    docker:
      - image: circleci/php:7.4-node
      - image: memcached
      - image: mysql:5.7
        environment:
          MYSQL_USER: mysql
          MYSQL_PASSWORD: mysql
          MYSQL_DATABASE: mysqldb
          MYSQL_RANDOM_ROOT_PASSWORD: yes
      - image: postgres:9.6
        environment:
          POSTGRES_PASSWORD: pgsql
          POSTGRES_USER: postgres
    steps:
      - checkout
      - run:
          name: Install build tools
          command: |
            sudo apt-get update -y
            sudo apt-get install -y -q --no-install-recommends \
              build-essential \
              g++ \
              gcc \
              libc-dev \
              libpqxx-dev \
              zlib1g-dev \
              make \
              autoconf \
              git \
              unzip
      - run:
          name: Install opencensus extension
          command: |
            cd ext
            phpize
            ./configure --enable-opencensus
            sudo make install
            sudo docker-php-ext-enable opencensus
      - run:
          name: Install grpc extension
          command: |
            sudo pecl install grpc
            sudo docker-php-ext-enable grpc
      - run:
          name: Install memcached extension
          command: |
            sudo apt-get install -y -q --no-install-recommends \
              libmemcached11 libmemcached-dev zlib1g-dev zlib1g
            sudo pecl install memcached <<<''
            sudo docker-php-ext-enable memcached
      - run:
          name: Install pdo_mysql extension
          command: sudo docker-php-ext-install pdo_mysql
      - run:
          name: Install mysqli extension
          command: sudo docker-php-ext-install mysqli
      - run:
          name: Install pgsql extension
          command: sudo docker-php-ext-install pgsql
      - run:
          name: Install pcntl extension
          command: sudo docker-php-ext-install pcntl
      - run:
          name: Curl test
          command: tests/integration/curl/test.sh
      - run:
          name: Grpc test
          command: tests/integration/grpc/test.sh
      - run:
          name: Guzzle 5 test
          command: tests/integration/guzzle5/test.sh
      - run:
          name: Guzzle 6 test
          command: tests/integration/guzzle6/test.sh
      - run:
          name: Laravel test
          command: tests/integration/laravel/test.sh
      - run:
          name: Memcached test
          command: tests/integration/memcached/test.sh
      - run:
          name: Pgsql test
          command: tests/integration/pgsql/test.sh
# Skipped due to a dependency incompatibility between "cache/adapter-common" and "psr/cache".
# TODO(mrmage): Re-enable this step once "cache/adapter-common" supports "psr/cache" v2.0/v3.0.
#      - run:
#          name: Symfony 4 test
#          command: tests/integration/symfony4/test.sh
#          environment:
#            DATABASE_URL: mysql://mysql:mysql@127.0.0.1:3306/mysqldb
      - run:
          name: Wordpress test
          command: tests/integration/wordpress/test.sh
    environment:
      DB_HOST: 127.0.0.1
      DB_USERNAME: mysql
      DB_PASSWORD: mysql
      DB_DATABASE: mysqldb

  # Integration tests running on PHP 8.0. When updating these, please also update `integration-7.4` further down.
  integration-8.0:
    docker:
      - image: circleci/php:8.0-node
      - image: memcached
      - image: mysql:5.7
        environment:
          MYSQL_USER: mysql
          MYSQL_PASSWORD: mysql
          MYSQL_DATABASE: mysqldb
          MYSQL_RANDOM_ROOT_PASSWORD: yes
      - image: postgres:9.6
        environment:
          POSTGRES_PASSWORD: pgsql
          POSTGRES_USER: postgres
    steps:
      - checkout
      - run:
          name: Install build tools
          command: |
            sudo apt-get update -y
            sudo apt-get install -y -q --no-install-recommends \
              build-essential \
              g++ \
              gcc \
              libc-dev \
              libpqxx-dev \
              make \
              autoconf \
              git \
              unzip
      - run:
          name: Install opencensus extension
          command: |
            cd ext
            phpize
            ./configure --enable-opencensus
            sudo make install
            sudo docker-php-ext-enable opencensus
      - run:
          name: Install memcached extension
          command: |
            sudo apt-get install -y -q --no-install-recommends \
              libmemcached11 libmemcached-dev zlib1g-dev zlib1g
            sudo pecl install memcached <<<''
            sudo docker-php-ext-enable memcached
      - run:
          name: Install pdo_mysql extension
          command: sudo docker-php-ext-install pdo_mysql
      - run:
          name: Install mysqli extension
          command: sudo docker-php-ext-install mysqli
      - run:
          name: Install pgsql extension
          command: sudo docker-php-ext-install pgsql
      - run:
          name: Install pcntl extension
          command: sudo docker-php-ext-install pcntl
      - run:
          name: Curl test
          command: tests/integration/curl/test.sh
      - run:
          name: Guzzle 5 test
          command: tests/integration/guzzle5/test.sh
      - run:
          name: Guzzle 6 test
          command: tests/integration/guzzle6/test.sh
      - run:
          name: Laravel test
          command: tests/integration/laravel/test.sh
      - run:
          name: Memcached test
          command: tests/integration/memcached/test.sh
      - run:
          name: Pgsql test
          command: tests/integration/pgsql/test.sh
# Skipped due to a dependency incompatibility between "cache/adapter-common" and "psr/cache".
# TODO(mrmage): Re-enable this step once "cache/adapter-common" supports "psr/cache" v2.0/v3.0.
#      - run:
#          name: Symfony 4 test
#          command: tests/integration/symfony4/test.sh
#          environment:
#            DATABASE_URL: mysql://mysql:mysql@127.0.0.1:3306/mysqldb
# Skipped because "wp-cli" is currently not compatible with PHP 8 (see https://github.com/wp-cli/wp-cli/issues/5452).
# TODO(mrmage): Re-enable this step once "wp-cli" supports PHP 8.
#      - run:
#          name: Wordpress test
#          command: tests/integration/wordpress/test.sh
    environment:
      DB_HOST: 127.0.0.1
      DB_USERNAME: mysql
      DB_PASSWORD: mysql
      DB_DATABASE: mysqldb

workflows:
  version: 2
  units:
    jobs:
      - php71
      - php71-zts
      - php72
      - php72-zts
      - php73
      - php73-zts
      - php74
      - php74-zts
      - php80
      - php80-zts
      - integration-7.4
      - integration-8.0